.App {
  text-align: center;
  background-color: tan;
 

}

.welcome {
  font-size: 50px;
  color: red;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

.nameBar {
  color: black;
}
.menu {
  display:flex;
  flex-wrap: wrap;
  flex-direction: space-around;
  margin: 20px;
}
.pointer {
  border: 2px solid black;
  background-color: red;
  color: white;
  font-size: medium;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;

}

.burgers {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 2px solid black;
  background-color: red;
  font-size: medium;
  color: white;
}
.pick {
  font-size: large;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: black;
}
.burgerBox {
  margin: 30px 10px 40px 0px;
  display:flex;
  justify-content: center;
  align-content: center;
}
.burgerDescript {
  height: 250px;
  width: 300px;
  border: 3px solid black;
  background-color:red;
  color: white;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: large;
}
